name: Release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: "Release Semantic Version (e.g. 1.15.2 or v1.15.2)"
        required: true

jobs:
  release:
    uses: leinardi/gh-reusable-workflows/.github/workflows/simple-tag-and-release.yaml@55876c601aa07ae1683b2b8c439c06a573fbc452 # TODO replace with tag once released
    with:
      semver: ${{ inputs.semver }}
